@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");
@import "./variables.scss";
@import "./mixins.scss";

html {
  background-color: var(--bg-color);
  padding: 0;
  margin: 0;
  font-family: var(--font);
  font-size: 16px;
  // outline-color: lightgray;
  color: black;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-text-size-adjust: none;
}

h1 {
  margin-top: 0em;
}

.program {
  @include flex-col;
  background-color: var(--button-color);
  justify-content: space-between;
  height: auto;
  overflow-x: hidden;
  width: 100%;
}

@media not all and (min-resolution:.001dpcm) {
  * {
    outline-color: $outsetColor-safari !important;
    border-color: $outsetColor-safari !important;
  }
}

@supports (-webkit-touch-callout: none) {
  * {
    outline-color: $insetColor-safari !important;
    border-color: $insetColor-safari !important;
  }
}

:root {
  --bg-color: #{$bgColor};
  --button-color: #{$buttonColor};
  --font: "Open Sans", sans-serif;
  --bg-image-show: 0.5;
  --menu-color: lightblue;
  --menu-accent-color: lightseagreen;
}

:root.theme-funky {
  --bg-color: #{$bgColor-funky};
  --button-color: #{$buttonColor-funky};
  --font: "Comic Neue", cursive;
  --bg-image-show: 0;
  --menu-color: #{$bgColor-funky};
  --menu-accent-color: #{$bgColor-accent-funky};
}