$outsetColor: darkgray;
$insetColor: darkgray;
$outsetColor-safari: rgba(54, 53, 53, 0.476);
$insetColor-safari: rgba(54, 53, 53, 0.476);

$grayedColor: lightgray;

$winGray: #C0C0C0;
$winBG: #018281;
$winTitlebarActive: #000080;
$winTitlebarInactive: #000080bb;

$buttonColor: $winGray;
$buttonColor-funky: pink;
$bgColor: $winBG;
$bgColor-funky: rgb(123, 189, 23);
$bgColor-accent-funky: rgb(94, 146, 15);