@import "../../variables.scss";
@import "../../mixins.scss";

.program-document {
  @include flex-col;
  height: 100%;
  width: 100%;
}

.program-document-pdf {
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: scroll;
}

.program-document-pdf object {
  height: auto;
  min-height: 100%;
  width: 100%;
}