@import "../../variables.scss";
@import "../../mixins.scss";

.program-document {
  height: auto;
  width: 100%;
}

.program-document-pdf {
  @include flex-row;
  flex-grow: 2;
  width: 100%;
}

.program-document-pdf embed {
  /* height: auto; */
  /* width: 100%; */
}